

.card-titulo{
    font-weight: bold;
    font-size:150%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.imagen_atb{
    margin-left: 10%;
}

.card-correo{
    margin-top: 0.5%;
    margin-left: 80%;
}

.pregunta .pregunta__header{
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.pregunta .pregunta__header .btn-group{
    height: min-content;
}

/*.respuesta .respuesta__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.respuestaARespuesta .respuestaARespuesta__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/
