

.card-titulo{
    font-weight: bold;
    font-size:150%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.imagen_atb{
    margin-left: 10%;
}

.card-correo{
    margin-top: 0.5%;
    margin-left: 80%;
}