.cuadro{
      width: 100%;
      height: 100px;
}
.titulo{
      width: 100%;
      height: 50px;
}

.crearPregunta-container{

      width: 75%;
}

.resultadosTags{
      height: 50px;
      background-color: grey;
      width: 50%;
}