<%- include('partials/_header') %>
        
<link rel="stylesheet" href="/stylescrearPregunta.css">
<script src="/socket.io/socket.io.js"></script> 
<div class="contenedor">

    <div class="sidebar">
        
    </div>

    <div class="main">
        <div class="content-container">

            <div class="crearPregunta-container">
                <div class="crearPregunta">
                    
                  
                    <form method="POST" action="/preguntas/crear" enctype="multipart/form-data" autocomplete="off">
                     
                            <div class="inputs">
                                <p>
                                    <!-- <h2>Introduce un titulo</h2> -->
                                    <label for="respuesta">Introduce un titulo</label>
                                    <input class="titulo" name="titulo" required maxlength="100">
                                </p>
                                <p>
                                    <!-- <h2>Escribe tu Pregunta</h2> -->
                                    <label for="respuesta">Escribe tu Pregunta</label>
                                    <textarea  class="cuadro" name="descripcion" required maxlength="20000"></textarea>
                                </p>
                                <p>
                                    <!-- <h2>Etiquetas (se pueden seleccionar varias con Ctrl)</h2> -->
                                    <label for="respuesta">Etiquetas (se pueden seleccionar varias con Ctrl)</label>
                                    <div class="dropdown">
                                        <input id="tagId"class="tagInput" name="tag" maxlength="6" data-bs-toggle="dropdown" aria-expanded="false">
                                        <ul class="dropdown-menu" aria-labelledby="tagId" id="dropList">
                                          
                                        </ul>
                                    </div>
                                    <br>
                                    <div class="tagsynombrecontainer">
                                        <div id="tagsContainer">
                                          
                                        </div>
                                    </div>
                                </p>
                                <p>
                                    <label for="imageFile">Selecciona una imagen:</label>
                                    <input type="file" accept="image/*" name="imagen">
                                </p>
                                <p>
                                    <input id="array" type="hidden" class = "hiddenField" name = "etiquetas"/>
                                    <button type="submit" class="btn btn-primary">Crear</button>
                                </p>
                            </div>

                            <% if(typeof error !== 'undefined' && error) { %>
                                <div class="alert alert-danger mb-3" role="alert">
                                    <%= error %>
                                </div>
                            <% } %>
                    </form>
        
                </div>
            </div>
                
           
    
        </div>
    </div>
</div>
<script>
    const tag = document.getElementById("tagId");
    const listaTags = document.getElementById("listaTags");
    const clickedtags = document.getElementById("tagsContainer");
    var etiquetas = [];
</script>
<script>
    const direccion = 'localhost';
    const puerto = 3000;
    const socket = io('http://' + direccion + ':' + puerto);
</script>
<script>
    tag.oninput = () => {
        if(tag.value.length > 0){
            socket.emit('buscarTags', tag.value);
        }
    }

    tag.onchange = () => {
        tag.value = "";
    }
</script>
<script>
    var tagsContainer = document.getElementById("dropList");
    var hiddenInput = document.getElementById("array");
    socket.on('respTags', lista => {
        tagsContainer.innerHTML = '';
        Object.entries(lista).forEach(([element, value]) => {
            var newTag = document.createElement("span");
            newTag.onclick = () =>{
                if(!etiquetas.includes(newTag.textContent) && etiquetas.length < 5){
                    var newClicked = document.createElement("span");
                    newClicked.setAttribute("class","badge bg-secondary tag");
                    newClicked.textContent = newTag.textContent;
                    clickedtags.appendChild(newClicked);

                    newClicked.onmouseover = () =>{
                        newClicked.setAttribute("class","badge bg-danger tag");
                    }

                    newClicked.onmouseleave = () =>{
                        newClicked.setAttribute("class","badge bg-secondary tag");
                    }

                    newClicked.onclick = () =>{
                        const index = etiquetas.indexOf(lista[newClicked.textContent]);

                        if (index > -1) {
                            etiquetas.splice(index, 1); // 2nd parameter means remove one item only
                            hiddenInput.value = JSON.stringify(etiquetas);
                        }
                        clickedtags.removeChild(newClicked);
                    }
                    etiquetas.push(lista[newTag.textContent]);
                    hiddenInput.value = JSON.stringify(etiquetas);
                }
            }
            var li = document.createElement("li");

            newTag.setAttribute("class","badge bg-secondary");
            newTag.textContent = element;
            console.log(element);
            tagsContainer.appendChild(newTag);

            li.appendChild(newTag);
            tagsContainer.appendChild(li);
            
        });
    });
</script>  
    
<%- include('partials/_footer') %>