
<html>

<head>
    <link rel="stylesheet" href="/styles.css" type="text/css">
    
</head>


<body>
    <div class="header">
        <img src="/logo.png">
        <div>
            <button class="header__login">Login</button>
            <button class="header__registro">Registro</button>
        </div>

    </div>
    

    <div class="contenedor">
        <div class="sidebar">
            
        </div>


        <div class="main">
            <div class="content-container">
                <h1>Hola buenos dias</h1>
                <p>Esta es una pagina de prueba</p>
                <p>a</p>
                <p>a</p>
                <p>a</p>
                <p>a</p>
                <p>a</p>
                <p>a</p>
                <p>a</p>
                <p>a</p>
                <p>a</p>
     
            </div>
        </div>
    </div>

    <div class="footer">
        <span>
            .Try&Catch  copyright 2022 Gato sexo
        </span>

    </div>

    <!-- <div class="main"></div> -->
</body>
</html>