
<%- include('partials/_header') %>

<div class="contenedor">
    <div class="sidebar">
        
    </div>

    <div class="main">
        <div class="content-container">

            <h1>Hola buenos dias</h1>
            <p>Esta es una pagina de prueba</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>

        </div>
    </div>
</div>
     
<%- include('partials/_footer') %>