
<%- include('partials/_header') %>


<body class="bg-light">

<div class="container mt-5">

    <div class="row">

        <div class="col-md-6">
            <div class="card mb-5 shadow-sm">
                <div class="card-body">
        
                    <form method="POST" action="/add" autocomplete="off">
        
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input class="form-control" id="" name="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input class="form-control" id="" name="apellido">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
        
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
        
                    <h1>Personas</h1>
        
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(function(persona){ %>
                                <tr>
                                    <th scope="row"><%= persona.id %></th>
                                    <td><%= persona.nombre %></td>
                                    <td><%= persona.apellido %></td>
                                  </tr>
                            <% }); %>
                          
                        </tbody>
                    </table>
        
                </div>
            </div>
        </div>


    </div>

</div>

</body>




