
<%- include('partials/_header') %>

<div class="contenedor">
    <div class="sidebar">
        
    </div>

    <div class="main">
        <div class="content-container">

            <% preguntas.forEach(function(pregunta){ %>
                
                <%= pregunta.titulo %>
                <img src="data:image/png;base64,<%= pregunta.imagen %>" style="max-width: 300px;" alt="">
                <hr>

            <% }); %>

        </div>
    </div>
</div>
     
<%- include('partials/_footer') %>