<%- include('partials/_header') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="/stylessignup.css">  
<div class="contenedor">
   
    <div class="main">
        <div class="content-container">

            <div class="signup-container">
                <div class="signup">
                    
                    <h1>Registro</h1>
                    <form method="POST" action="/sign-up" autocomplete="off">
        
                        <div class="inputs">
                            <label for="name">Nombre</label>
                                <input type="text" placeholder="Introduce el nombre" name="nombre" required minlength="3" maxlength="50">

                                <label for="email">Correo electronico <i class="fa-solid fa-circle-info" data-toggle="tooltip" data-placement="top" title="xxxxx@domain.xxx"></i></label>
                                <input type="text" placeholder="Introduce el correo" name="email" required minlength="3" maxlength="100">
                    
                                <label for="password">Contrase単a <i class="fa-solid fa-circle-info"></i></label>
                                <input type="password" placeholder="Introduce contrase単a" name="password" required minlength="7" maxlength="50">

                                <label for="password">Repetir contrase単a</label>
                                <input type="password" placeholder="Introduce contrase単a" name="password2"required minlength="7" maxlength="50">
                    
                            <input type="submit" value="sign up">
                        </div>


                        <% if(typeof error !== 'undefined' && error) { %>
                            <div class="alert alert-danger mb-3" role="alert">
                                <%= error %>
                            </div>
                        <% } %>
                    </form>
        
                </div>
            </div>
    
        </div>
    </div>
</div>
<script>

    $(function(){
        $('[data-toggle="tooltip"]').tooltip()
    })
    
</script>

    
<%- include('partials/_footer') %>