<div class="sidebar">

    <a class="sidebar__item" href="/preguntas/busqueda-por-etiquetas-vista">
        <i class="fa-solid fa-magnifying-glass"></i>Busqueda por etiquetas
    </a>

    <% if(locals.correo) { %>
        <a class="sidebar__item" href="/usuarios/editar-mi-perfil">
            <i class="fas fa-address-card"></i>Editar perfil
        </a>
    <% } %>

</div>