<div class="sidebar">

    <a class="sidebar__item" href="/preguntas/busqueda-por-etiquetas-vista">
        <i class="fa-solid fa-magnifying-glass"></i>Busqueda por etiquetas
    </a>

    <a class="sidebar__item" href="/preguntas/busqueda-por-etiquetas-vista">
        <i class="fa-solid fa-folder-tree"></i>Prueba
    </a>

    <a class="sidebar__item" href="/preguntas/busqueda-por-etiquetas-vista">
        <i class="fa-solid fa-address-book"></i>Random
    </a>

</div>